<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="animation.css">
    <title>About </title>
</head>
<body>

    <div id="about">



            <div id="haut">
                
                <div id="logo">
                    <a href="/">
                        <img src="img/telum.png" alt="">
                    </a>
                </div>
                <div>
                    DATABASE OF BRASSICA NAPUS
                </div>
            </div>

            <div class="us_desc">
                This database was made by bioinformatics students of the university of constantine mentouri 1 for obtaining the Master's degree
            </div>

            <div class="us">

                <div class="pr">
                    <div class="pr_desc">
                        <ul>
                            <li><strong>CHERFI CHARAF EDDINE</strong></li>
                            <li><strong>STUDENT</strong></li>
                            <li><strong>BIOINFORMATICS</strong></li>
                          </ul>  
                    </div>
                    <div class="pr_img">
                        <img src="img/colza.jpg" alt="">
                    </div>
                </div>

                
                <div class="pr">
                    <div class="pr_img">
                        <img src="img/colza.jpg" alt="">
                    </div>
                    <div class="pr_desc">
                        <ul>
                            <li><strong>BOUKERZAZA MOHAMMED AMINE</strong></li>
                            <li><strong>STUDENT</strong></li>
                            <li><strong>BIOINFORMATICS</strong></li>
                          </ul>  
                    </div>
                    
                </div>
                

            </div>
                
           


            

            <div style="color: gray; font-family: sans-serif; font-size: 16px;">
                
            </div>


            <div id="bas">
                <div class="copyright" style="display: flex; justify-content: space-between; width: 500px;">
                    <div>
                        Copyright @2021 Bioinformatique - Constantine - UNIV 1
                    </div>
                    
                </div>

            </div>   

        

    </div>



    
    
</body>
</html>